In [1]:
import pandas as pd

df = pd.read_csv('grid_search_results.csv')

In [2]:
df

,g_B,d_B,h_B,a_B,b_B,g_E,d_E,h_E,a_E,b_E,total_revenue,total_sales_B,total_sales_E
0,1.8,50,-0.10,0.1,0.005,4.8,150,-0.10,0.05,0.002,10009.737863,6.283413e-12,1.500000e+02
1,1.8,50,-0.10,0.1,0.005,4.8,150,-0.10,0.05,0.004,7544.250066,6.283413e-12,1.500000e+02
2,1.8,50,-0.10,0.1,0.005,4.8,150,-0.10,0.05,0.006,3083.011031,6.283413e-12,6.165897e+01
3,1.8,50,-0.10,0.1,0.005,4.8,150,-0.10,0.10,0.002,854.703360,6.283413e-12,1.709335e+01
4,1.8,50,-0.10,0.1,0.005,4.8,150,-0.10,0.10,0.004,0.018355,6.283413e-12,1.223698e-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59044,2.2,70,-0.01,0.3,0.015,5.2,170,-0.01,0.10,0.004,0.018169,5.802968e-38,1.211245e-04
59045,2.2,70,-0.01,0.3,0.015,5.2,170,-0.01,0.10,0.006,0.013518,5.802968e-38,9.012015e-05
59046,2.2,70,-0.01,0.3,0.015,5.2,170,-0.01,0.15,0.002,0.000019,5.802968e-38,1.246146e-07
59047,2.2,70,-0.01,0.3,0.015,5.2,170,-0.01,0.15,0.004,0.000010,5.802968e-38,6.699208e-08
59048,2.2,70,-0.01,0.3,0.015,5.2,170,-0.01,0.15,0.006,0.000007,5.802968e-38,4.984405e-08